button {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}

button:hover{
  background-color: black;
  color: white;
}

.top{
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: 768PX){
    .top {
      grid-template-columns: 1fr 1fr;

      i {
  border-radius: 50%;
  border: 1px;
  padding: 20px;
  background-color: lightgray;
}

.hero-section .hero-content img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
    }
  }
}
