.c-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.c-container {
  display: flex;
  justify-content: space-between; /* Ensure items are spaced between each other */
  width: 100%;
  max-width: 1200px;
}

.c-left {
  flex: 1;
  padding: 20px;
  gap: 0.5em;
}

.c-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

